body {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #939393;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.page-container {
  min-width: 1200px;
  background-color: #849d8f;
}

#btn-1:checked ~ .page-container {
  background: url("../img/slide1.png") no-repeat;
  background-position: top center;
  background-color: #849d8f;
}

#btn-2:checked ~ .page-container {
  background: url("../img/slide2.png") no-repeat;
  background-position: top center;
  background-color: #8996a6;
}

#btn-3:checked ~ .page-container {
  background: url("../img/slide3.png") no-repeat;
  background-position: top center;
  background-color: #9d8b84;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/*----Шапка-----*/

.main-header {
  padding-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 260px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  margin-right: 10px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 12px 0;
  list-style: none;
}

.main-nav-item {
  position: relative;
  margin: 0 4px;
  padding-bottom: 15px;
}

.main-nav-link {
  display: block;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
}

.main-nav-link::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav-link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 2px 0 #696969;
  box-shadow: inset 0 2px 2px 0 #696969;
}

.main-nav-link:active::after {
  background-color: #ededed;
}

.main-nav-link.active {
  background-color: #d07058;
}

.main-nav-link.active::after {
  background-color: #d07058;
}

.main-nav-link:hover,
.main-nav-link:focus {
  color: #333333;
  background-color: #f8f7f4;
}

.main-nav-link:hover::after,
.main-nav-link:focus::after {
  background-color: #f8f7f4;
}

.main-subnav-list {
  position: absolute;
  top: 37px;
  left: -4px;
  display: none;
  width: 144px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 5px;
  background-color: #f8f7f4;
  border-radius: 5px;
  list-style: none;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  z-index: 100;
}

.main-nav-item:hover .main-subnav-list,
.main-nav-link:focus+.main-subnav-list {
  display: block;
}

.main-subnav-item {
  margin-bottom: 3px;
}

.main-subnav-link {
  display: block;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.main-subnav-link:hover {
  background-color: #fbded7;
}

.main-subnav-link:active {
  background-color: #f6b5a5;
}

.main-subnav-link.active {
  background-color: #d07058;
  color: #ffffff;
}

.first-link {
  position: relative;
  font-weight: 500;
}

.first-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 7px;
  width: 130px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.2);
}

.user-block {
  padding-top: 12px;
}

.user-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block-item {
  padding-bottom: 5px;
}

.search,
.enter,
.bascket {
  position: relative;
}

.user-block-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
}

.user-block-link:hover,
.user-block-link:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.link-search {
  height: 32px;
  width: 32px;
  font-size: 0;
  border-radius: 50%;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.link-search:hover,
.link-search:focus {
    background-image: url("../img/loupe-black.svg");
}

.link-enter {
  width: 94px;
  padding: 8px 0;
  padding-left: 45px;
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.link-enter:hover,
.link-enter:focus {
    background-image: url("../img/entrance.svg");
}

.user-block-bascket {
  width: 118px;
  padding: 8px 0;
  padding-left: 45px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.user-block-bascket:not(.full):hover,
.user-block-bascket:not(.full):focus {
  background-image: url("../img/basket-black.svg");
}

.user-block-bascket.full {
  color: #323232;
  background-color: #f8f7f4;
  background-image: url("../img/basket-red.svg");
}

.user-block-info {
  text-align: right;
  margin-top: 14px;
}

.info-shedule,
.info-phone {
  margin: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.info-phone {
  font-size: 22px;
  line-height: 24px;
}

.search .modal-wrapper,
.enter .modal-wrapper,
.bascket .modal-wrapper {
  display: none;
}
.search:hover .modal-wrapper,
.enter:hover .modal-wrapper,
.bascket:hover .modal-wrapper {
  position: absolute;
  top: 36px;
  right: 0;
  display: block;
}

.enter:hover .modal-wrapper,
.bascket:hover .modal-wrapper {
  z-index: 250;
}

.modal {
  padding: 20px 16px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.form-row {
  position: relative;
  margin: 0;
}

.input-field,
.feedback-textarea {
  width: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 14px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}
.input-field:hover,
.feedback-textarea:hover {
  padding: 8px 13px;
  border: 2px solid rgba(154, 154, 154, 0.54);
}

.input-field:focus,
.feedback-textarea:focus {
  padding: 8px 13px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.input-field::-webkit-input-placeholder,
.feedback-textarea::-webkit-input-placeholder {
  font-weight: normal;
  color:#999999;
}

.input-field:-ms-input-placeholder,
.feedback-textarea:-ms-input-placeholder {
  font-weight: normal;
  color:#999999;
  opacity: 1;
}

.input-field:-moz-placeholder,
.feedback-textarea:-moz-placeholder {
  font-weight: normal;
  color:#999999;
  opacity: 1;
}

.input-field:focus::-webkit-input-placeholder,
.feedback-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-field:focus:-ms-input-placeholder,
.feedback-textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-field:focus:-moz-placeholder,
.feedback-textarea:focus:-moz-placeholder {
  opacity: 0;
}

.input-field+label,
.feedback-textarea+label {
  position: absolute;
  display: block;
  left: -999999px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.input-field:focus+label,
.feedback-textarea:focus+label {
  top: -15px;
  left: 14px;
}

.enter-form .input-field {
  width: 240px;
  margin-bottom: 22px;
}

.bascket-table {
  width: 510px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.bascket-items {
  margin-bottom: 16px;
  border-spacing: 0;
  border-bottom: 1px solid #cacac7;
}

.bascket-items td{
  padding-right: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
}

.bascket-items .item-delete {
  vertical-align: top;
}

.item-delete-button {
  width: 11px;
  height: 11px;
  font-size: 0;
  background-color: inherit;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.item-preview-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.item-count {
  white-space: nowrap;
}

.item-count span {
  color: #999999;
}

.bascket-total {
  margin: 0;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-align: right;
}

.btn {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(0deg, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
  box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}

.btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))),
                    -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    linear-gradient(0deg, #e74a35, #f26843);
}

.btn:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))),
                    -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    linear-gradient(0deg, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

.bascket-btn {
  width: 170px;
  margin-right: 0;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 478px;
  margin-top: -221px;
  margin-left: -239px;
  z-index: 300;
}

.feedback-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 22px;
  height: 2px;
  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-feedback {
    padding: 20px 26px;
}

.modal-feedback .input-field {
  width: 268px;
  margin-bottom: 20px;
}

.modal-feedback .feedback-textarea {
  width: 428px;
  margin-bottom: 20px;
}

.enter-btn {
  margin: 0;
  width: 100px;
  font-family: inherit;
  border: 0;
}

.feedback-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-btn {
  margin: 0;
  width: 140px;
  font-family: inherit;
  border: 0;
}

.modal-feedback .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 300;
}

.feedback-overlay-show {
  display:block;
}

.enter-control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.enter-info {
  margin: 0;
}

.info-link {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.info-link:hover,
.catalog-item-link:hover,
.footer-menu-link:hover,
.copyright-text a:hover {
  color: #ffbc9e;
}

.info-link:active,
.catalog-item-link:active,
.footer-menu-link:active,
.copyright-text a:active {
  color: #ffbc9e;
}

.footer-menu-link:hover,
.footer-menu-link:active,
.copyright-text a:hover,
.copyright-text a:active {
  border-bottom-color: #ffbc9e;
}

.main-content {
  position: relative;
}

.back-controls {
  position: absolute;
  top: 170px;
}

.back-controls label {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.back-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .page-container label[for="btn-1"],
#btn-2:checked ~ .page-container label[for="btn-2"],
#btn-3:checked ~ .page-container label[for="btn-3"]  {
  background-color: #ffffff;
}

#btn-1:focus ~ .page-container label[for="btn-1"],
#btn-2:focus ~ .page-container label[for="btn-2"],
#btn-3:focus ~ .page-container label[for="btn-3"] {
  outline: 2px solid;
  outline-color: #74a0d1;
  outline-offset: 1px;
}

.slider {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

#btn-1:checked~.page-container .slide:nth-child(1) {
  display: block;
}

#btn-2:checked~.page-container .slide:nth-child(2) {
  display: block;
}
#btn-3:checked~.page-container .slide:nth-child(3) {
  display: block;
}

.slide-header {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 2px 2px 5px rgba(160,32,11,0.76);
}

/*-----Баннеры----*/

.banners {
  margin-bottom: 40px;
}

.banners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-item {
  width: 520px;
  min-height: 198px;
  padding: 16px 20px;
  border-radius: 15px;
  color: #ffffff;
}

.banner-1 {
  background-color: #60101f;
  background-image: url("../img/malinka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-2 {
  background-color: #41271b;
  background-image: url("../img/shoco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-promo {
  display: block;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner-offer {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.banner-btn {
  margin: 0 0 auto auto;
  margin-top: 44px;
}

.banner-1 .banner-btn {
  width: 146px;
}

.banner-2 .banner-btn {
  width: 170px;
}

/*----Каталог Хит----*/

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .catalog-list {
  margin-bottom: 44px;
}

.inner-page .catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.catalog-item {
  position: relative;
  margin-bottom: 38px;
  width: 267px;
  text-align: center;
}

.catalog-item:hover {
  z-index: 200;
}

.catalog-item:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -12px;
  width: 293px;
  height: 125%;
  display: block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 100;

}

.catalog-item-img {
  position: relative;
  width: 267px;
  height: 267px;
  margin-bottom: 6px;
  border-radius: 50%;
}

.inner-page .catalog-item-img {
  margin-bottom: 8px;
}

.hits .catalog-item::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 300;
}

.price {
  position: absolute;
  top: 210px;
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.price span {
  display: inline-block;
  padding-left: 34px;
  font-size: 30px;
  line-height: 45px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.catalog-item-link {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-btn {
  position: absolute;
  top: 105%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 192px;
  z-index: 200;
  display: none;
}

.catalog-item:hover .catalog-btn {
  display: block;
}

/*----Промо----*/

.features {
  margin-bottom: 40px;
}

.features-wrapper {
  min-height: 246px;
  padding: 25px 20px;
  background-color: #eaddbf;
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;
  border-radius: 20px;
}

.features-header {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list-item {
  position: relative;
  width: 486px;
  margin-top: 22px;
  padding-left: 56px;
}

.features-list-item::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0px;
  display: block;
  width: 50px;
  height: 50px;
}

.ice-cream::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.cow::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.eco::before {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.thermometer::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

/*----Новости блога----*/
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-blog,
.news-subscribe {
  width: 560px;
  min-height: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.news-blog {
  padding: 22px 20px;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.blog-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: inherit;
  font-weight: 500;
}

.blog-link {
  display: block;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.blog-link:hover,
.blog-link:active {
  color: #e84d37;
}

.news-subscribe {
  padding: 5px 5px;
  background-color: #f8f7f4;
  background-image: url("../img/post.png");
  background-repeat: repeat;
}

.subscribe-form {
  width: 550px;
  min-height: 210px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 28px 20px;
  border-radius: 20px;
  background-color: #f8f7f4;
}

.subscribe-intro {
  margin: 0;
  margin-bottom: 36px;
  color: #5a5a5a;
}

.subscribe-field {
  width: 368px;
}

.subscribe-btn {
  display: inline-block;
  vertical-align: middle;
  width: 128px;
  margin-left: 8px;
  font-family: "Roboto","Arial", sans-serif;
  border: 0;
}

/*----Контакты----*/

.map {
  height: 430px;
  background-color: #dfdecc;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map .container {
  position: relative;
}

.contacts {
  position: absolute;
  top: 0;
  right:0;
  width: 302px;
  min-height: 305px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 62px 0;
  padding: 28px 26px;
  border-radius: 20px;
  background-color: #ffffff;
  z-index: 100;
}

.contacts-list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.contact-item {
  margin-bottom: 16px;
}

.contacts-content {
  display: block;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.phone {
  line-height: 22px;
}

.contacts-content:last-of-type {
  margin-bottom: 2px;
}

.contacts-caption {
  margin: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

.note {
  line-height: 22px;
}

.btn-contact {
  width: 230px;
}

/*----Подвал----*/

.main-footer {
  padding-top: 18px;
  padding-bottom: 28px;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  margin: 0;
  padding: 18px 0;
  list-style: none;
}

.social-item {
  position: relative;
}

.social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  margin-right: 10px;
  font-size: 0;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.5);
  vertical-align: top;
  text-decoration: none;
}

.social-link:hover {
  border: 4px solid rgba(255,255,255,0.7);
}

.social-link:active {
  border: 4px solid rgba(255,255,255,0.7);
}

.social-item svg {
  position: absolute;
  top: 4px;
  left: 4px;
  fill-opacity: 0.8;
}

.social-item:hover svg,
.social-link:focus+svg {
  fill-opacity: 1;
}

.social-item:active svg {
  fill-opacity: 0.7;
}

.footer-menu-link,
.copyright-text,
.copyright-text a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-text,
.copyright-text a {
  font-size: 12px;
}

.footer-menu-link,
.copyright-text a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  padding-top: 10px;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item {
  padding-left: 30px;
}

.heart {
  position: relative;
  font-weight: 700;
}

.heart::before {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  width: 190px;
}

.copyright-text {
  margin: 0;
}

/*----Каталог----*/

.inner-page .main-header {
  margin-bottom: 0;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: -34px;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 21px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-item::after {
  content: "»";
  position: absolute;
  right: 7px;
  top: 0;
  color: #ffffff;
  opacity: .8;
}

.breadcrumbs-item:last-child::after {
  content: "";
}

.breadcrumbs-link {
  position: relative;
  color: #ffffff;
  opacity: .8;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.inner-page .page-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight:700;
  line-height: 41px;
  color: #ffffff;
}

/*----Фильтр----*/

.filters {
  margin-bottom: 38px;
}

.filters-form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.filter-set {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-set .filter-field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-set-legend {
  margin-left: 16px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filter-label {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 5px;
}

.filter-field-wrapper {
  margin: 0;
  margin-right: 15px;
  padding: 9px 13px;
  background-color: #9cb0a5;
  border-radius: 25px;
}

.cost .filter-field-wrapper {
  position: relative;
  width: 180px;
  height: 4px;
  padding: 16px 20px;
}

.range-line {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.bar {
  position: absolute;
  left: 20%;
  width: 45%;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #9cb0a5;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover,
.range:focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.toggle-min {
  top: 23%;
  left: 16%;
}

.toggle-max {
  top: 23%;
  left: 61%;
}

.sort .filter-field-wrapper {
  padding: 0;
}

.filter-sort {
  width: 192px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 16px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color:  #ffffff;
  background-color: transparent;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  background-image: url("../img/select-arrow.svg");
  background-position: 170px center;
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
}

.filter-sort::-ms-expand {
  display: none;
}

.filter-sort:hover,
.filter-sort:focus {
  font-weight: 500;
  color: #323232;
  background-color:#ffffff;
  background-image: url("../img/select-arrow-black.svg");
}

.sort-option {
  font-size: 14px;
  line-height: 16px;
}

.filter-radio:focus+.filter-label::before,
.filter-checkbox:focus+.filter-label::before {
  outline: 2px solid;
  outline-color: #74a0d1;
  outline-offset: 1px;
}

.fat .filter-label {
  position: relative;
  margin-right: 18px;
  padding-left: 32px;
  cursor: pointer;
}

.fat .filter-label:last-child {
  margin-right: 0;
}

.fat .filter-label::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -3px;
  width: 16px;
  height: 16px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-radio:checked+.filter-label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.topings .filter-label {
  position: relative;
  padding-left: 35px;
  margin-right: 19px;
  cursor: pointer;
}

.topings .filter-label:last-child {
  margin-right: 8px;
}

.topings .filter-label::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.filter-checkbox:checked+.filter-label::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 25%;
  width: 5px;
  height: 14px;
  border: 4px solid #eef1ef;
  border-top: 0;
  border-left: 0;
  -webkit-box-shadow: 2px 0 0 0 #9cb0a5,
  inset -2px 0 0 0 #9cb0a5;
  box-shadow: 2px 0 0 0 #9cb0a5,
  inset -2px 0 0 0 #9cb0a5;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-radio:checked+.filter-label:hover::after,
.filter-radio:focus+.filter-label::after {
  background-color: #ffffff;
}

.fat .filter-label:hover::before,
.filter-checkbox+.filter-label:hover::after,
.topings .filter-label:hover::before,
.filter-radio:focus+.filter-label::before,
.filter-checkbox:focus+.filter-label::before,
.filter-checkbox:focus+.filter-label::after {
  border-color: #ffffff;
}

.filter-radio:disabled+.filter-label::before,
.filter-checkbox:disabled+.filter-label::before {
  border-color: rgba(255, 255, 255, 0.4);
}

.filter-radio:disabled+.filter-label::after,
.filter-radio:disabled+.filter-label:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.filter-checkbox:disabled+.filter-label::after {
  border-color: #b5c4bc;
}

.filter-button {
  margin-top: 22px;
  margin-left: 0;
  width: 144px;
  height: 36px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  border-radius: 40px;
  background-color: #9cb0a5;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  background-color: #eaeaea;
  border: none;
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.paginator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.paginator-item {
  width: 26px;
  height: 26px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
}

.arrow {
  width: 8px;
}

.arrow:first-child {
  margin-right: 12px;
}

.arrow:last-child {
  margin-left: 7px;
  margin-right: 0;
}

.paginator-link {
  display: block;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}

.left-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.paginator-item:not(.arrow):hover,
.paginator-item:not(.arrow):focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator-item:not(.arrow) .paginator-link.active,
.paginator-item:not(.arrow) .paginator-link:active {
  color: #323232;
  background-color: #ffffff;
}
